body {
    background-color: #555;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */

    overflow: hidden;

    /* cursor: url('cursors/Win95Def.png'), default;
    cursor: url('cursors/Win95DefHand.png'), help;
    cursor: url('cursors/Win95DefLoad.png'), wait;
    cursor: url('cursors/Win95DefHand.png'), grab; */
}

.tree-view > li {
    user-select: none;
}

.tree-view > li ul:hover  {
    
    font-style: normal;
}

.tree-view > li ul > li:hover, .tree-view > li:hover  {
    
    cursor: pointer;
    font-style: italic;
}

.window-shadow::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.473);
    pointer-events: none;
}


.quote {
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bevel {
    
    border-top:3px solid #999;
    border-bottom:3px solid rgb(45, 45, 45);
    border-left:3px solid #999;
    border-right:3px solid rgb(45, 45, 45);
}

.animated-window {

    animation: openWindow 0.2s ease-out;
}

/*
    Open window animation
*/
@keyframes openWindow {

    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}