@font-face {
    font-family: 'Ms Sans Serif 1';
    src: url('/public/MSSansSerif1.woff');
}

@font-face {
    font-family: 'Ms Sans Serif 2';
    src: url('/public/MSSansSerif2.woff');
}

@font-face {
    font-family: 'Ms Sans Serif 5';
    src: url('/public/MSSansSerif5.woff');
}
body {
    background-color: #555;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;

    /* cursor: url('cursors/Win95Def.png'), default;
    cursor: url('cursors/Win95DefHand.png'), help;
    cursor: url('cursors/Win95DefLoad.png'), wait;
    cursor: url('cursors/Win95DefHand.png'), grab; */
}

*:not(.terminal-container, .terminal-container *) {
    font-family: 'Ms Sans Serif 2', sans-serif;
}

.tree-view > li {
    user-select: none;
}

.tree-view > li ul:hover  {
    
    font-style: normal;
}

.tree-view > li ul > li:hover, .tree-view > li:hover  {
    
    cursor: pointer;
    font-style: italic;
}

.window-shadow::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.473);
    pointer-events: none;
}


.quote {
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.left {
    gap: 20px;
    justify-content: left;
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bevel {
    
    border-top:3px solid #999;
    border-bottom:3px solid rgb(45, 45, 45);
    border-left:3px solid #999;
    border-right:3px solid rgb(45, 45, 45);
}

.network {

    background-color: whitesmoke;

    border-top:3px solid #999;
    border-bottom:3px solid rgb(45, 45, 45);
    border-left:3px solid #999;
    border-right:3px solid rgb(45, 45, 45);

    height: 310px;
}

.network-lines {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.network > .network-node {

    text-align: center;
    line-height: 1px;

    margin: 20px;
    position: absolute;

    width: 80px;
    z-index: 10;
}

.animated-window {

    animation: openWindow 0.2s ease-out;
}

.warning-icon {
    width: 40% !important;
    height: 40% !important;
    margin: auto;
}

/*
    Open window animation
*/
@keyframes openWindow {

    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}